[offsite]
type = sftp
host = ==redacted==
user = rcloneUser
port = 22
pass = ==redacted==
md5sum_command = md5sum
sha1sum_command = sha1sum

[encrypted]
type = crypt
remote = offsite:/mnt/hdd/rclone/encrypted/
filename_encryption = standard
directory_name_encryption = true
password = ==redacted==
password2 = ==redacted==

